@mixin card-bg($bg-src) {
    background-image: url($bg-src);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    width: 300px;
    height: 250px;
    margin: 30px;
    border: 3px solid rgba(255,255,255, 0.2);
    background-clip: padding-box;
    cursor: pointer;
    &:hover {
        box-shadow: 5px 5px 10px rgba(89, 98, 116, 0.5);
        transition: all 200ms ease-in;
        transform: scale(1.1);
        .card-location {
            opacity: 1;
            transition: all 200ms ease-in;
        }
    }
}


.locations-container {
    box-shadow: 0px 1px 10px rgba(34, 34, 34, 1);
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, $primaryColor-dark, $primaryColor, $primaryColor-light);
        .locations-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .locations-card-1 {
            @include card-bg('/locations/london-uk.jpg');

        }
        .locations-card-2 {
            @include card-bg('/locations/la-usa.jpg');

        }
        .locations-card-3 {
            @include card-bg('/locations/casablanca-morocco.jpg');

        }
        .locations-card-4 {
            @include card-bg('/locations/chittagong-bangladesh.jpg');

        }
        .locations-card-5 {
            @include card-bg('/locations/douala-cameroon.jpg');

        }
        .locations-card-6 {
            @include card-bg('/locations/fez-morocco.jpg');

        }
        .locations-card-7 {
            @include card-bg('/locations/frankfurt-germany.jpg');

        }
        .locations-card-8 {
            @include card-bg('/locations/newyork-usa.jpg');

        }
        .locations-card-9 {
            @include card-bg('/locations/palembang-indonesia.jpg');

        }
        .locations-card-10 {
            @include card-bg('/locations/paris-france.jpg');
       
        }
        .locations-card-11 {
            @include card-bg('/locations/saitama-japan.jpg');

        }
        .locations-card-12 {
            @include card-bg('/locations/yerevan-armenia.jpg');

        }
}

.locations-img {
    width: 100%;
}

.card-location {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    color: $softWhite;
    font-size: 25px;
    text-shadow: 1px 1px 3px $softWhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locations-title-container {
    width: 100%;
    margin: 20px 0px;

}

.locations-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 70px;
    background-color: $softWhite;
    color: $primaryColor-dark;
    text-shadow: 1px 1px 3px rgba(89, 98, 116, 0.5);
}



